body {width: 980px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-left: auto;margin-right: auto;}
::marker {color: #FF6600;}
header {top: 0px; position: fixed;width: 980px;border-bottom: 2px; border-bottom-style: solid;background-color: #dbdada;}
#Banner {width: 100px;float: left;}
#Menu {float: right; width: 880px;display:flex; justify-content:space-evenly;margin-top: 2%;}
#Menu a {text-decoration: none;color: black;}
#Origin {width: 490px; height: 100px; float:left; margin-top: 150px; background-color: #dbdada;}
#Origin p {margin-left: 10px;}
#Origin a {text-decoration: none;color: black;}
#ProductPic {width: 490px; height: 400px; float:left; background-color: #dbdada; display: flex; justify-content: center;align-items: center;}
#ProductPic img {width: 300px; height: 300px;}
#ProductPic span {width: 490px;float: left;justify-content: first baseline;}
#ProductPic img:hover {transform: scale(1.8);cursor: zoom-in;}
#Title {width: 490px;height: 45px; float: left; margin-top: 205px; display: flex; justify-content: center;color: #FF6600;}
#SubTitle {width: 490px;float: left;display: flex;justify-content: center;}
#Description {width: 440px; height: 319px; float: left; margin-left: 2%;margin-right: 2%;margin-bottom: 20px;}
#Features {width: 490px;height: 160px; float: left;display: flex;justify-content: center; list-style: circle;}
#Price {width: 490px;height: 80px; float: left;display: flex;flex-wrap: wrap; justify-content: center;align-content: center; color: #FF6600;background-color: #dbdada;}
#Price h2 {margin-right: 3%;}
#Price h3 {text-decoration: line-through;color: black;margin-right: 3%;}
#AddCart {width: 490px;height: 80px; float: left;background-color: #FF6600;display: flex;justify-content: center;align-items: center;}
#Break {width: 980px; float: left;border-bottom: 2px; border-bottom-style: solid;}
#SimilarItems {width: 980px;display: flex;justify-content: center;align-items: center;color: #FF6600;text-decoration: underline;}
#SimilarPics {width: 980px;display: flex;justify-content: center;align-items: center;float: left;}
#SimilarPics img {max-width: 250px;}
#SimilarNames {width: 980px;height: 1px; display: flex;justify-content: center;align-items: center;float: left;}
#SimilarNames h3 {width: 250px;display: flex; justify-content: center;}
#SimilarPrices {width: 980px;height: 40px; display: flex;justify-content: center;align-items: center;float: left;color: #FF6600;}
#SimilarPrices p {width: 250px;display: flex; justify-content: center;}
footer {width: 980px; font-size: small;display: flex;justify-content: center;}
#BackHome {width: 980px;display: flex;justify-content: center;}
#BackHome a {text-decoration: none;color: #FF6600;}
#SimilarTable table {background-color: #dbdada;border-style: solid;text-align: center;margin: auto;}
#SimilarTable th {color: #FF6600; width: 200px;border: 0px;border-bottom: 2px;height: 50px; border-style: solid;}
#Type {width: 200px;}